.container {
  display: flex;
  justify-content: space-between;
  position: sticky;
  /* top: 8px; */
  top: 0;
  margin: 8px var(--page-padding);
  height: 68px;
  align-items: center;
  /* background: var(--md-sys-color-background); */
  background: #fff;
  z-index: 2;
}

.actions {
  display: flex;
  gap: 4px;
  align-items: center;
}

.logo {
  height: 100%;
  width: auto;
}
