.section {
  margin: 0 var(--page-padding) var(--section-gap);
  display: flex;
  justify-content: center;
}

.form {
  max-width: 500px;
  width: 100%;
}

.control {
  display: grid;
}

.input {
  border-radius: 4px;
  border: 1px solid var(--md-sys-color-outline);
  height: 56px;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 16px;
}
