.section {
  margin: 0 var(--page-padding) var(--gap-m);
  /* margin: 0 var(--page-padding) var(--section-gap); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin-bottom: var(--gap-xl);
  display: block;
}

.description {
  font-size: var(--font-size-l);
}
