.section {
  margin: var(--gap-xxl) var(--page-padding);
  /* text-align: center; */
  /* display: grid; */
  /* grid-template-columns: 100%; */
}

.imageWrapper {
  /* background: rgba(256, 0, 0, 0.3); */
  position: relative;
  height: auto;
}

.image {
  /* width: 100%; */
}
