.section {
  margin: 0 var(--page-padding) var(--section-gap);

  text-align: center;
  display: grid;
  /* grid-template-columns: 100%; */
}

.imageWrapper {
  /* background: rgba(256, 0, 0, 0.3); */
  position: relative;
  height: auto;
}

.image {
  width: 100%;
  /* background: #eee; */
  background: var(--md-sys-color-surface);
  height: auto;
  border-radius: 24px;
  /* margin-bottom: 4px; */
  margin-bottom: var(--gap-m);
}
